.showroom {
  margin: 6rem 0;
}

.showroom > .desc {
  margin-bottom: 3rem;
}

.showroom > .desc > h1 {
  padding-bottom: 1rem;
}


.how_details {
  text-align: left;
  padding: 5rem 20%;
  font-size: 1.2rem;
}
