.gallery > .row {
  justify-content: space-between;
}

.galleryItem {
  background-color: #f4f4f4;
  margin: 2rem 0.5rem;
  text-align: center;
  max-width: 300px;
  padding-bottom: 3rem;
  text-decoration: none;
  color: #202020;
}

.galleryItem:hover {
  text-decoration: none;
  color: #202020;
}

.galleryItemImage {
  width: 100%;
  height: auto;
}

.galleryItemTitle {
  padding: 1rem;
}

.button {
  border: solid 1px black;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.button:hover {
  font-weight:bold;
}
